h1{
	background-color:cornflowerblue; 
	font-weight: bold;
    text-transform: uppercase;
    text-align: center;   
}

h2 {
    font-weight: bold;
    font-style: italic;
    padding: 5px 5px;
    text-transform: uppercase;
}

h3{
	font-style: italic;
    padding: 5px 5px; 
}

h4{
	font-style: italic;
    padding: 5px 5px; 	
}

p {
    padding: 10px 10px;
}

body{
	font: 400 15px Tahoma, sans-serif;
    line-height: 1.8;
    color:black ;
    background-color:lightblue;
}