
header {
    background-color: #FABADA;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 5px;
}

body{
    background-color:antiquewhite;
}

h2{
    text-decoration:underline;
}